
.manager-header-block {
    margin: 0;
    background-color: #171c33;
    border-radius: 0;
    color: #FFF;
    height: 70px;
}
.manager-title-block {
    background: #3b415f;
    padding: 30px 0;
    color: #ecf0f1;
    text-shadow: #000 1px 1px;
}
