{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="alert alert-success" role="alert">
            Ваша заявка добавлена в очередь. Вы будете уведомлены, когда она будет рассмотрена
        </div>

        <div class="row">
            <div class="col justify-content-center">
                <a href="/" type="button" class="btn btn-primary btn-lg delete-row">На главную</a>
            </div>
        </div>
    </div>
{% endblock %}